<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epstein Hillel Calendar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <main>
        <h1>Epstein Hillel School</h1>
        <h2></h2>
        <div class="calendar">
            <div class="blocks">
                <h3>Blocks</h3>
                {% for i in data.Block.value_counts().index.tolist() %}
                <h3>Block {{ i }}</h3>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>